@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gamja+Flower&family=Nanum+Pen+Script&family=Noto+Serif+KR:wght@200&display=swap');
body{
    font-family:'Gamja Flower' ;
}

.btn{
    width: 120px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}

.btn-pink{
    background-color: pink;
    color: black;

}

.btn-aqua{
    background-color: aquamarine;
    color: black;
}

.btn-lightblue{
    background-color: lightblue;
    color:black;
}

.btn-lightyellow{
    background-color: lightyellow;
    color:black;
}